body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
}
.content {
    width: 100%;
    min-height: 100vh;
    background-color: #424242;
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    background-color: #424242;
    scroll-snap-align: start;
}
.name {
    font-size: 60px;
    font-weight: 300;
    padding-left: 70px;
    padding-top: 150px;
    color: white;
    margin: 0; 
}
.subtitle {
    padding-left: 90px; 
    margin-top: 10px;   
}
.subtitle p {
    margin: 0;           
    line-height: 1.4;    
    font-size: 16px;
    font-weight: 300;
    color: white;
}
.about {
    background-color: #424242;
    width: 100%;            
    display: flex;
    flex-direction: column;   
    justify-content: flex-start; 
    align-items: flex-start;
    padding-left: 70px;       
    padding-top: 150px;       
    color: white;  
    min-height: 100vh;
    box-sizing: border-box;
}
.about-subtitle{
    margin-top: 10px;  
    padding-left: 0; 
    text-align: left;
}
.about-subtitle p {
    margin: 0;           
    line-height: 1.4;    
    font-size: 16px;
    font-weight: 300;
    color: white;
}
       

.about h2 {
    font-size: 60px;
    font-weight: 300;
    margin: 0;                
}

.skills-logos {
    display: flex;
    align-items: center;
    gap: 20px;  
    margin-top: 20px;

}
.logo {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.2); 
}
.para-space {
    margin-top: 50px;   
}



.background-card {
    background-color: rgba(53, 53, 53, 0.9); 
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    width: 230px;          
    max-width: 300px;     
    height: auto;          
    text-align: center;
    color: white;

    margin-left: auto;      
    margin-right: 50px;     
    margin-top: -200px;     
}


.background-card h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 400;
}
.background-card .skills-logos {
    display: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.contact-card {
  background-color: rgba(53, 53, 53, 0.9); 
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    width: 300px;          
    max-width: 400px;     
    height: auto;          
    text-align: center;
    color: white;

    margin-left: auto;      
    margin-right: 50px;     
    margin-top: -300px; 
}

.contact-card h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
  
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-email {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-logo {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  cursor: pointer;
}

.social-logo:hover {
  transform: scale(1.2);
}

.email-text {
  color: white;
  font-size: 16px;
  font-weight: 300;
}







